appdirs==1.4.3
blinker==1.4
docutils==0.13.1
feedgenerator==1.9
ghp-import==0.5.5
Jinja2==2.9.5
MarkupSafe==1.0
packaging==16.8
pelican==3.7.1
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2016.10
six==1.10.0
Unidecode==0.4.20
