beautifulsoup4==4.7.1
blinker==1.4
docutils==0.14
feedgenerator==1.9
ghp-import==0.5.5
Jinja2==2.11.3
MarkupSafe==1.1.1
pelican==4.1.1
Pygments==2.3.1
python-dateutil==2.8.0
pytz==2018.9
PyYAML==5.3.1
six==1.12.0
soupsieve==1.8
Unidecode==1.0.23
