body {
  padding-top: 56px;
  background-color: #f5f6f9;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
  display: inline-block;
}

.post-title a, a.nav-link {
  color: #23527c;
}

.post-title a:hover, a.nav-link:hover {
  color: #337ab7;
}

#hero {
  background-color: white;
  margin-top: 0 !important;
  padding-top: 96px !important;
}

#hero img {
  height: 300px;
}

#footer {
  background-color: #1e2327;
  margin-top: 48px;
}

.host-image {
  height: 200px !important;
}

.post-meta {
  background: #1e2327;
  color: #fff;
  margin-bottom: 20px;
  padding: 10px 10px 10px 28px;
  line-height: 1.7;
}

.post-meta span {
  padding-right: 20px;
  white-space: nowrap;
}

.post-meta a:hover {
  color: #fefefe;
}

.post-image {
  margin-bottom: 20px;
  margin-right: 20px;
}

#footer {
  background-color: #222;
  border-color: #080808;
  border-width: 0 0 1px;
}

#footer .row {
  padding-top: 35px;
}

#footer a, #footer p {
  color: #898989;
}

#footer a.btn {
  color: #fff !important;
}

#footer h2 {
  color: #fff;
  font-size: 1.5rem;
}

#footer a:hover {
  color: #fff;
}
