{{- if .Get 0 -}}
<h2>{{ .Get 0 -}}</h2>
{{- else -}}
<h2>Top 5</h2>
{{- end -}}

{{- $entries := .Inner | replaceRE  `\s+\* (.*)` "\n- \"$1\"" | unmarshal  -}}
{{- range $key, $value := $entries -}}
  {{- if eq $key "app" -}}<h3>Aplicativos:</h3>{{ end -}}
  {{- if eq $key "beer" -}}<h3>Cervejas:</h3>{{ end -}}
  {{- if eq $key "book" -}}<h3>Livros:</h3>{{ end -}}
  {{- if eq $key "game" -}}<h3>Games:</h3>{{ end -}}
  {{- if eq $key "movie" -}}<h3>Filmes:</h3>{{ end -}}
  {{- if eq $key "music" -}}<h3>Músicas:</h3>{{ end -}}
  {{- if eq $key "pizza" -}}<h3>Pizzas:</h3>{{ end -}}
  {{- if eq $key "podcast" -}}<h3>Podcasts:</h3>{{ end -}}
  {{- if eq $key "site" -}}<h3>Sites:</h3>{{ end -}}
  {{- if eq $key "twitter" -}}<h3>Twitters:</h3>{{ end -}}
  <ol>
    {{- range $value -}}
      {{- $url := index $.Site.Data.top5 $key . "url" -}}
      {{- if $url -}}
        <li><a href="{{ $url -}}" target="_blank">{{ . }}</a></li>
      {{- else -}}
        <li>{{ . }}</li>
      {{- end -}}
    {{- end -}}
  </ol>
{{- end -}}
